.root {

}

.root-pane {
    -fx-background-image: url("../images/stars.jpg");
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color: #b0f3f4;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #449eb5;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: #449eb5;
    -fx-font-size: 16px;
}

.button:pressed {
    -fx-background-color: #449eb5;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color:  #b9daf7;
    -fx-font-size: 10px;  /* Change width of scroll bar. */

}

.scroll-bar .thumb {
    -fx-background-color: #1562a5;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
